<div class="flex-layout">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list">
    <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
  </mat-nav-list>

  <div class="sidebar-user">
    <div class="sidebar-user-info">
      <mat-icon class="sidebar-user-icon">account_circle</mat-icon>
      <span class="sidebar-user-name">{{ tokenService.nombre() }}</span>
    </div>
    <button mat-stroked-button color="warn" class="btn-logout" (click)="logout()">
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>
  </div>
</div>
