<div id="pdfTable" #pdfTable *ngIf="InformacionInventario">

      <mat-card class="cardWithShadow">
        <mat-card-content class="p-24">
          <div class="d-flex w-100">
            <mat-card-title>{{InformacionInventario.idInventario}} Inventario </mat-card-title>
            <div class="m-l-auto" *ngIf="false" >
              <button mat-flat-button color="primary" matBadgePosition="before" matBadgeColor="accent" >
                Ver PDF
              </button>
              <button mat-flat-button color="primary" matBadgePosition="before" matBadgeColor="accent" >
                Descargar PDF
              </button>
  
            </div>
          </div>
    
        </mat-card-content>
      </mat-card>
  
  

  
    <div class="row">
      <div class="col" *ngIf="InformacionInventario.marca" >
        <mat-card class="cardWithShadow">
          <mat-card-content style="    text-align: center;">
            <mat-card-title>Marca</mat-card-title>
            <mat-card-subtitle class="mat-body-1"
              *ngIf="InformacionInventario">{{InformacionInventario.marca}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col" *ngIf="InformacionInventario.equipo" >
        <mat-card class="cardWithShadow">
          <mat-card-content style="    text-align: center;">
            <mat-card-title>Equipo</mat-card-title>
            <mat-card-subtitle class="mat-body-1">{{InformacionInventario.equipo}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="cardWithShadow">
          <mat-card-content style="    text-align: center;">
            <mat-card-title>Hotel</mat-card-title>
            <mat-card-subtitle class="mat-body-1"
              *ngIf="InformacionInventario">{{InformacionInventario.hoteles.nombre}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="cardWithShadow">
          <mat-card-content style="    text-align: center;">
            <mat-card-title>Fecha</mat-card-title>
            <mat-card-subtitle class="mat-body-1">{{InformacionInventario.fechaRegistro | date}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <section *ngFor="let item of InformacionInventario['partes']"  >
 
  

      <!-- Recomendaciones -->
      <div class="row">
        <div class="col">
            <mat-card class="b-1 shadow-none">
              <mat-card-header>
                <mat-card-title>Descripción </mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <mat-list style="max-width: 100%">
                  <mat-list-item >
                    <span matListItemTitle class="f-s-16 f-w-600">{{item.descripcion}}</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
      
          <div class="col">
            <mat-card class="b-1 shadow-none">
              <mat-card-header>
                <mat-card-title>N° Parte </mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <mat-list style="max-width: 100%">
                  <mat-list-item >
                    <span matListItemTitle class="f-s-16 f-w-600">{{item.noParte}}</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
      
          <div class="col">
            <mat-card class="b-1 shadow-none">
              <mat-card-header>
                <mat-card-title>Cantidad </mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <mat-list style="max-width: 100%">
                  <mat-list-item >
                    <span matListItemTitle class="f-s-16 f-w-600">{{item.cantidad}}</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
      
      </div>
   
  
      <!-- Evidencia Fotográfica -->
      <div class="col-lg-12">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Evidencia Fotográfica </mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <div class="row">
              <div class="col-sm-6 col-lg-3" *ngFor="let itemimg of item['partesImagen']">
                <mat-card class="cardWithShadow productcard overflow-hidden">
                  <a>
                    <img src="{{ itemimg.url }}" alt="imgSrc" class="w-100" mat-card-image />
                  </a>
  
                  <mat-list style="max-width: 100%">
                    <mat-list-item>
                      <span matListItemTitle class="f-s-16 f-w-600">{{itemimg.fechaRegistro | date}}</span>
                    </mat-list-item>
                  </mat-list>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

  

  
      <hr style="border-color:black;">
  
  
  
      <!-- //Boton para eliminar en la imagen -->
      <div class="row" *ngIf="false" >
        <div class="col-sm-6 col-lg-3" *ngFor="let productcard of item['partesImagen']">
          <mat-card class="cardWithShadow productcard overflow-hidden">
            <a>
              <img src="{{ productcard.url }}" alt="imgSrc" class="w-100" mat-card-image />
            </a>
            <mat-card-content class="p-b-24 p-t-12 position-relative">
              <button mat-mini-fab color="primary" class="icon-30 cart-btn" matTooltip="Eliminar">
                <i-tabler name="trash" class="icon-16"></i-tabler>
              </button>
              <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
                productcard.title
                }}</mat-card-title>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <h6 class="mat-body-2 f-w-600">{{ productcard.fechaRegistro | date }}</h6>
                  <span class="f-s-14 m-l-4 text-decoration-line-through"></span>
                </div>
  
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  
  
    </section>
  
    <section *ngIf="InformacionInventario['partes'].length <= 0" >
        <div class="col">
            <mat-card class="b-1 shadow-none">
              <mat-card-header>
                <mat-card-title> </mat-card-title>
              </mat-card-header>
              <mat-card-content class="b-t-1">
                <mat-list style="max-width: 100%; text-align: center;">
                  <mat-list-item >
                    <span matListItemTitle class="f-s-16 f-w-600">
                        NO CUENTA CON PARTES DE INVENTARIO
                    </span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
    </section>
  
  </div>