<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/123.png" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <form class="m-t-30" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">ID</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="correo" />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="clave" />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12" *ngIf="false">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <!-- <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Forgot Password ?</a
              > -->
            </div>

            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit" style="width: 100% !important;">Entrar</button>
            </mat-card-actions>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24" *ngIf="false">New to revisionEquipos?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>